.il-select-option
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between
  background: grey
  width: 100%
  padding: 5px 10px
  cursor: pointer

  &:hover &__edit-action, &:hover &__delete-action
    display: inline-flex

  &--selected, &:hover
    background: lightgray

  & &__edit-action, & &__delete-action
    display: none
    position: relative
    background: black
    padding: 7px

    &:hover
      background: white
